<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
	<dubbo:application name="proadmin" />

	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry address="${registryaddress}" />
	<dubbo:consumer timeout="20000" check="false" />

	<!-- 生成远程服务代理，可以像使用本地bean一样使用demoService -->
	<dubbo:reference id="shiroRealmService" interface="com.hrg.service.ShiroRealmService"/>
	<dubbo:reference id="workerService" interface="com.hrg.service.WorkerService"/>
	<dubbo:reference id="moduleService" interface="com.hrg.service.ModuleService"/>
	<dubbo:reference id="projectService" interface="com.hrg.service.ProjectService"/>
	<dubbo:reference id="departmentService" interface="com.hrg.service.DepartmentService"/>
	<dubbo:reference id="missionService" interface="com.hrg.service.MissionService"/>
	<dubbo:reference id="noticeService" interface="com.hrg.service.NoticeService"/>
	<dubbo:reference id="workDataService" interface="com.hrg.service.WorkDataService"/>
	<dubbo:reference id="workerRoleService" interface="com.hrg.service.WorkerRoleService"/>
	<dubbo:reference id="permissionService" interface="com.hrg.service.PermissionService"/>
	<dubbo:reference id="missionAuditService" interface="com.hrg.service.MissionAuditService"/>
</beans>